@mixin no-lrtb {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.background {
  @include no-lrtb;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../img/background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //z-index: -1;

  &:after {
    @include no-lrtb;
    position: absolute;
    content: " ";
    filter: blur(5px);
    color: aqua;
    opacity: 0.8;
  }
}

